html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img.arw {
  fill: blue;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.align-right-three {
  float: right;
  margin-left: 20px;
}

.align-left-four {
  float: left;
  margin-right: 20px;
}

.align-right-five {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
}

.slide-in-two {
  opacity: 0;
  transition: all .5s;
}

.slide-in-three {
  opacity: 0;
  transition: all .5s;
}

.slide-in-four {
  opacity: 0;
  transition: all .5s;
}

.slide-in-five {
  opacity: 0;
  transition: all .5s;
}

.align-right.slide-in {
  transform: translateX(110%) scale(0.95);
}

.align-left.slide-in-two {
  transform: translateX(-110%) scale(0.95);
}

.align-left-four.slide-in-four {
  transform: translateX(-110%) scale(0.95);
}

.align-right-three.slide-in-three {
  transform: translateX(110%) scale(0.95);
}

.align-right-five.slide-in-five {
  transform: translateX(110%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.slide-in-two.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.slide-in-three.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.slide-in-four.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.slide-in-five.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

body {
  font-family: 'Poiret One', cursive;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-color: #f1efe6;
  margin: -2vh 0 0 0;
}

header {
  width: 100vw;
  height: auto;
  background-color: rgba(250, 250, 250, 1);
  top: 0;
  z-index: 1;
  position: fixed;
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -18vh; // same as header height. use variables in LESS/SASS
}

.left {
  width: 30vw;
  float: left;
  padding-top: 1.3vw;
  padding-left: 0.5vw;
  left: 0;
}

.panel1 {
  margin: 0;
  padding: 0;
}

.nav {
  font-size: 3vw;
  margin: 0;
}

.pipe {
  width: 1.2vw;
  float: right;
  padding-top: 2.2vh;
}

h1 {
  z-index: 99;
}

.test {
  padding-top: 30vh;
}

.navbut {
  color: black;
  /*padding: 1.5vw;*/
  width: 35vw;
  float: right;
  font-size: 0.5em;
  padding-top: 3.5vh;
  right: 0;
  top: 0;
  position: absolute;
}

#top {
  text-decoration: none;
  color: black;
}

.name {
  text-decoration: none;
  color: black;
  font-size: 4vw;
}

p {
  font-size: 2vw;
  padding: 0 2vw;
}

.body {
  margin: 10vw;
}

.about {
  font-size: 2.5vw;
  margin: 20px;
  padding: 0 10px 0 10px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 4vw;
  margin-top: 3vh;
}

.title2 {
  text-align: center;
  font-size: 1.3vw;
}

.title3 {
  text-align: center;
  font-size: 3.5vw;
}

.title4 {
  text-align: center;
  font-size: 1.3vw;
}

.center {
  text-align: center;
}

.center1 {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 100px;
}

.deco {
  text-decoration: none;
  color: black;
}

footer {
  width: 100vw;
  height: auto;
  bottom: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 1);
  margin;
  0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vw;
}

.home5 {
  background-image: url("./images/Cover 5b.jpg");
  z-index: 99;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: auto;
  opacity: 0.3;
}

.links {
  float: left;
  text-decoration: none;
  color: black;
  font-size: 2vw;
}

.image {
  width: 80vw;
}

.slideshow {
  margin: 0 padding: 15vh 0 0 0;
  position: fixed;
  top: 15vh;
  bottom: 10vh;
  overflow: hidden;
}

.panel {
  transition: flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background: 0.2s;
}

.card {
  height: auto;
  width: 100vw;
}

.card2 {
  height: auto;
  width: 100vw;
  opacity: 0.3;
}

.panel2 {
  background-image: url("./images/");
}

.panel>*:first-child {
  transform: translateY(-100%);
}

.panel.open-active>*:first-child {
  transform: translateY(0);
}

.panel>*:last-child {
  transform: translateY(100%);
}

.panel.open-active>*:last-child {
  transform: translateY(0);
}

.pop {}

.cta {
  position: absolute;
  text-align: center;
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.blurb {
  width: 45vw;
  height: auto;
  margin: auto 0;
}

.blurb2 {
  width: 45vw;
  height: auto;
  padding: 12vh 0;
  margin: auto 0;
}

.me {
  width: 45vw;
  height: auto;
  padding: 0 2.5vw;
}

.site {
  width: 52vw;
  height: auto;
  padding: 2vh 2.5vw;
}

.site3 {
  width: 52vw;
  height: auto;
  padding: 0 2.5vw;
}

.pic {
  width: 50vw;
  height: auto;
  border: 3px solid black;
  image-orientation: contain;
}

iframe {}

.pic2 {
  width: 30vw;
  height: auto;
  border: 3px solid black;
  /*border-radius: 25%;*/
}

.pic3 {
  width: 50vw;
  height: auto;
  image-orientation: contain;
}

.space {
  height: 10vh;
  width: 100vw;
}

.space2 {
  height: 10vh;
  width: 100vw;
}

.space3 {
  height: 20vh;
  width: 100vw;
}

.space5 {
  height: 10vh;
  width: 100vw;
}

.space7 {
  height: 10vh;
  width: 100vw;
}

.wd {
  width: 100vw;
  height: auto;
}

.dev {
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: orange;
  font-size: 7vw;
}

.websites {
  /*border-radius: 25%;*/
}

.nav::before {
  -ms-transform: translateY(-100);
  -webkit-transform: translateY(-100);
  transform: translateY(-100);
}

.nav::after {
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.full2 {
  width: auto;
  height: 50vh;
  border: 5px solid black;
  /*border-radius: 25%;*/
  margin-top: 5vh;
}

.full {
  width: 100vw;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text1 {
  color: black;
  margin: 0 2.5vw;
  font-size: 4.5vw;
  font-family: 'Poiret One', cursive;
}

.text1a {
  color: black;
  margin: 0 4.5vw;
  font-size: 4.5vw;
  font-family: 'Poiret One', cursive;
}

.text2 {
  color: black;
  margin: 0 2.5vw;
  padding: 2vw;
  font-size: 2vw;
  font-family: 'Poiret One', cursive;
}

.text3 {
  color: black;
  margin: 3vw 2.5vw;
  padding: 2vw;
  font-size: 2vw;
  font-family: 'Poiret One', cursive;
}

.talk-to-me {
  text-align: center;
  margin: auto 0;
  padding: 0 10vw;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logopic {
  width: 60vw;
  height: auto;
  border: 3px solid black;
}

.color1 {
  background-color: ;
}

.color2 {
  background-color: #fff;
}

.skill-title {
  margin: 0;
  padding: 5vh;
}

.class {
  text-align: center;
  color: white;
}

.fontq {
  font-size: 2vw;
}

.fontq2 {
  font-size: 4vw;
  font-family: 'Poiret One', cursive;
  color: orange;
}

.fontq3 {
  font-size: 2.5vw;
}

.fontq4 {
  font-size: 2em;
  ffont-family: 'Poiret One', cursive;
  color: white;
  padding: 2vh 2vw;
}

.fontq5 {
  font-size: 4vw;
  font-family: 'Poiret One', cursive;
  color: rgb(2, 90, 214);
  margin-top: 7vh;
}

blockquote {
  margin: 2vw;
}

.vid {
  width: 50vw;
  height: 33vw;
  border: 3px solid black;
  image-orientation: contain;
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin: auto 0;
}

img.arw {
  bottom: 0;
}

.flexbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  background-color: red;
  border-radius: 50%;
}

.cats {
  text-decoration: none;
  color: orange;
}

.spacer {
  height: 20vh;
}

@media screen and (max-width:1000px) {
  header {
    width: 100vw;
    height: auto;
    background-color: rgba(250, 250, 250, 1);
    top: 0;
    z-index: 1;
    position: absolute;
  }
  footer {
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 1);
    margin;
    0;
    display: flex;
    justify-content: space-around;
    padding: 1.3vw;
    font-size: 1.3em;
  }
  .nav-up {
    top: 0h; // same as header height. use variables in LESS/SASS
  }
  .space {
    display: none;
  }
  .spacer {
    display: none;
  }
  .blurb2 {
    width: 45vw;
    height: auto;
    padding: 2vh 0;
    margin: auto 0;
  }
  .skill-title {
    margin: 0;
    padding: 2vh 1vh 1vh 1vh;
  }
  .links {
    float: left;
    text-decoration: none;
    color: black;
    font-size: 4vw;
  }
  .full2 {
    width: 40vw;
    height: auto;
    border: 5px solid black;
    /*border-radius: 25%;*/
    margin-top: 5vh;
  }
  .navbut {
    text-decoration: none;
    color: black;
    width: 20vw;
    float: left;
    font-size: .8em;
    padding: 1vh 0 0 0;
    margin-right: 2vw;
    text-align: right;
  }
  .navbut2 {
    text-decoration: none;
    color: black;
    width: 2vw;
    float: right;
    font-size: 1em;
    padding: 0 0 0 0.8vw;
  }
  .align-left {
    float: none;
    margin-right: 0;
  }
  .align-right {
    float: nonenone;
    margin-left: 0;
  }
  .align-right-three {
    float: none;
    margin-left: 0;
  }
  .align-left-four {
    float: none;
    margin-right: 0;
  }
  .align-right-five {
    float: none;
    margin-left: 0;
  }
  .slide-in {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-two {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-three {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-four {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-five {
    opacity: 1;
    transition: all 0;
  }
  .align-right.slide-in {
    transform: translateX(0) scale(1);
  }
  .align-left.slide-in-two {
    transform: translateX(0) scale(1);
  }
  .align-left-four.slide-in-four {
    transform: translateX(0) scale(1);
  }
  .align-right-three.slide-in-three {
    transform: translateX(0) scale(1);
  }
  .align-right-five.slide-in-five {
    transform: translateX(0%) scale(1);
  }
  .text1 {
    color: black;
    margin: 0 auto;
    font-size: 3.5vw;
    text-align: center;
    font-family: 'Poiret One', cursive;
  }
  .text1a {
    color: black;
    margin: 0 auto;
    font-size: 3.5vw;
    text-align: center;
    font-family: 'Poiret One', cursive;
  }
  .text2 {
    color: black;
    margin: 0 auto;
    padding: 2vw;
    font-size: 3vw;
    font-family: 'Poiret One', cursive;
  }
  .text3 {
    color: black;
    margin: 0 auto;
    padding: 2vw;
    font-size: 3vw;
    font-family: 'Poiret One', cursive;
  }
  .talk-to-me {
    text-align: center;
    margin: auto 0;
    padding: 0 10vw;
    font-size: 3vw;
    font-family: 'Poiret One', cursive;
  }
}

@media screen and (max-width: 768px) {
  header {
    width: 100vw;
    height: auto;
    background-color: rgba(250, 250, 250, 1);
    top: 0;
    z-index: 1;
    position: absolute;
  }
  footer {
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 1);
    margin;
    0;
    display: flex;
    justify-content: space-around;
    padding: 2vw;
    font-size: 1.3em;
  }
  .nav-up {
    top: 0; // same as header height. use variables in LESS/SASS
  }
  .space {
    display: none;
  }
  .spacer {
    display: none;
  }
  .blurb2 {
    width: 45vw;
    height: auto;
    padding: 2vh 0;
    margin: auto 0;
  }
  .skill-title {
    margin: 0;
    padding: 2vh 1vh 1vh 1vh;
  }
  .links {
    float: left;
    text-decoration: none;
    color: black;
    font-size: 6vw;
  }
  .full2 {
    width: 50vw;
    height: auto;
    border: 5px solid black;
    /*border-radius: 25%;*/
    margin-top: 5vh;
  }
  .navbut {
    text-decoration: none;
    color: black;
    width: 20vw;
    float: left;
    font-size: .8em;
    padding: 1vh 0 0 0vw;
    margin-right: 2vw;
  }
  .navbut2 {
    text-decoration: none;
    color: black;
    width: 2vw;
    float: right;
    font-size: .8em;
    padding: 0 0 0 0.8vw;
  }
  .fontq {
    font-size: 4vw;
  }
  .align-left {
    float: none;
    margin-right: 0;
  }
  .align-right {
    float: nonenone;
    margin-left: 0;
  }
  .align-right-three {
    float: none;
    margin-left: 0;
  }
  .align-left-four {
    float: none;
    margin-right: 0;
  }
  .align-right-five {
    float: none;
    margin-left: 0;
  }
  .slide-in {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-two {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-three {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-four {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-five {
    opacity: 1;
    transition: all 0;
  }
  .align-right.slide-in {
    transform: translateX(0) scale(1);
  }
  .align-left.slide-in-two {
    transform: translateX(0) scale(1);
  }
  .align-left-four.slide-in-four {
    transform: translateX(0) scale(1);
  }
  .align-right-three.slide-in-three {
    transform: translateX(0) scale(1);
  }
  .align-right-five.slide-in-five {
    transform: translateX(0%) scale(1);
  }
  .talk-to-me {
    text-align: center;
    margin: auto 0;
    padding: 0 10vw;
    font-size: 3vw;
    font-family: 'Poiret One', cursive;
  }
}

@media screen and (max-width: 900px) {
  header {
    width: 100vw;
    height: auto;
    background-color: rgba(250, 250, 250, 1);
    top: 0;
    z-index: 1;
    position: absolute;
  }
  footer {
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 1);
    margin;
    0;
    display: flex;
    justify-content: space-around;
    padding: 1.3vw;
    font-size: 1.3vw;
  }
  .nav-up {
    top: 0; // same as header height. use variables in LESS/SASS
  }
  .space {
    display: none;
  }
  .spacer {
    display: none;
  }
  .blurb2 {
    width: 45vw;
    height: auto;
    padding: 2vh 0;
    margin: auto 0;
  }
  .skill-title {
    margin: 0;
    padding: 2vh 1vh 1vh 1vh;
  }
  .links {
    float: left;
    text-decoration: none;
    color: black;
    font-size: 4vw;
  }
  .full2 {
    width: 40vw;
    height: auto;
    border: 5px solid black;
    /*border-radius: 25%;*/
    margin-top: 5vh;
  }
  .navbut {
    text-decoration: none;
    color: black;
    width: 20vw;
    float: left;
    font-size: .8em;
    padding: 1vh 0 0 0vw;
    margin-right: 2vw;
  }
  .navbut2 {
    text-decoration: none;
    color: black;
    width: 2vw;
    float: center;
    font-size: 1.3em;
    padding: 0 0 0 0.8vw;
  }
  .fontq {
    font-size: 3vw;
  }
  .fontq3 {
    font-size: 3.3vw;
  }
  .align-left {
    float: none;
    margin-right: 0;
  }
  .align-right {
    float: nonenone;
    margin-left: 0;
  }
  .align-right-three {
    float: none;
    margin-left: 0;
  }
  .align-left-four {
    float: none;
    margin-right: 0;
  }
  .align-right-five {
    float: none;
    margin-left: 0;
  }
  .slide-in {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-two {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-three {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-four {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-five {
    opacity: 1;
    transition: all 0;
  }
  .align-right.slide-in {
    transform: translateX(0) scale(1);
  }
  .align-left.slide-in-two {
    transform: translateX(0) scale(1);
  }
  .align-left-four.slide-in-four {
    transform: translateX(0) scale(1);
  }
  .align-right-three.slide-in-three {
    transform: translateX(0) scale(1);
  }
  .align-right-five.slide-in-five {
    transform: translateX(0%) scale(1);
  }
  .talk-to-me {
    text-align: center;
    margin: auto 0;
    padding: 0 10vw;
    font-size: 3vw;
    font-family: 'Poiret One', cursive;
  }
}

@media screen and (max-width: 425px) {
  header {
    width: 100vw;
    height: auto;
    background-color: rgba(250, 250, 250, 1);
    top: 0;
    z-index: 1;
    position: absolute;
  }
  footer {
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 1);
    margin;
    0;
    display: flex;
    justify-content: space-around;
    padding: 1.3vw;
    font-size: 2em;
  }
  .nav-up {
    top: 0; // same as header height. use variables in LESS/SASS
  }
  .space {
    display: none;
  }
  .spacer {
    display: none;
  }
  .blurb2 {
    width: 45vw;
    height: auto;
    padding: 2vh 0;
    margin: auto 0;
  }
  .skill-title {
    margin: 0;
    1vh
  }
  .links {
    float: left;
    text-decoration: none;
    color: black;
    font-size: 6vw;
  }
  .full2 {
    width: 50vw;
    height: auto;
    border: 5px solid black;
    margin-top: 5vh;
  }
  .navbut {
    text-decoration: none;
    color: black;
    width: 20vw;
    float: left;
    font-size: .8em;
    padding: 1vh 0 0 0;
    margin-right: 2vw;
  }
  .navbut2 {
    text-decoration: none;
    color: black;
    width: 2vw;
    float: right;
    ffont-size: 1.5em;
    padding: 0 0 0 0.8vw;
    border-left: 1px solid rgb(214, 214, 214);
  }
  .name {
    text-decoration: none;
    color: black;
    font-size: 4.7vw;
  }
  .fontq {
    font-size: 4vw;
  }
  .fontq3 {
    font-size: 5vw;
  }
  .align-left {
    float: none;
    margin-right: 0;
  }
  .align-right {
    float: nonenone;
    margin-left: 0;
  }
  .align-right-three {
    float: none;
    margin-left: 0;
  }
  .align-left-four {
    float: none;
    margin-right: 0;
  }
  .align-right-five {
    float: none;
    margin-left: 0;
  }
  .slide-in {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-two {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-three {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-four {
    opacity: 1;
    transition: all 0;
  }
  .slide-in-five {
    opacity: 1;
    transition: all 0;
  }
  .align-right.slide-in {
    transform: translateX(0) scale(1);
  }
  .align-left.slide-in-two {
    transform: translateX(0) scale(1);
  }
  .align-left-four.slide-in-four {
    transform: translateX(0) scale(1);
  }
  .align-right-three.slide-in-three {
    transform: translateX(0) scale(1);
  }
  .align-right-five.slide-in-five {
    transform: translateX(0%) scale(1);
  }
  .talk-to-me {
    text-align: center;
    margin: auto 0;
    padding: 0 10vw;
    font-size: 3vw;
    font-family: 'Poiret One', cursive;
  }
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
